html {
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin: 20px;
    text-align: justify;
}
h1{
    font-size: 18px;
    animation: anima 1s forwards;
}
.container_name{
    background-color: rgb(255, 166, 0);
    margin: -20px -20px 20px -20px;
    padding: 20px;
}
.container_box{
    height: 300px;
    background-color: #8d8d8d;
    margin: -20px;
    padding: 20px;
    color: #fff;
}
#btnTeste{
    border-radius: 20px;
    background-color: green;
    color: #fff;
}
#btnTeste:hover{
    border-radius: 20px;
    background-color: #fff;
    color: #00000033;
}

@keyframes anima {
    0%{
        translate: -50px;
    }
    100%{

    }
}